.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #ffffff;
  border-radius: 50px;
  color: #6f707d;
  font-family: 'Marcellus', serif
}

#heading {
  font-size: 55px;
  color: #2b304d
}

.temp {
  place-items: center
}

.temp-details>p>span,
.grey {
  color: #a3acc1;
  font-size: 12px
}

.fa {
  color: #a5a5b1
}

*:focus {
  outline: none
}
.bg-main{
  background: url(https://weatherstack.com/site_images/mountains.svg);
  background-size:cover ;
 background-position: center;
 background-repeat: none;
 height: 100vh;
    color: #fff;
    padding: 50px 0 160px 0;
    overflow: hidden;
}
.bg-main.warm{
  background-image:url(assets/jade-ingsley-landscapeyscap.jpg);}
.wbox{
  margin-top: 5%;
}
#headd{
  color: black;
}
#inpt{
  margin-top: 2%;
  border-radius: 5px;
  outline: 0;
  border: 0;
  text-align: center;
  box-shadow: -1px 4px 18px 1px rgba(0,0,0,0.75);
}